.inputElement {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}
.inputElement input {
  width: 300px;
  height: 30px;
  background-color: rgb(246, 255, 169);
  border: 2px solid #2932508a;
  border-radius: 10px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 7px 12px;
  font-size: 18px;
  font-weight: 800;
  color: #293250;
}
.inputElement input:focus {
  border: 2px solid #293250;
}
.buttonElement {
  margin-left: 15px;
  display: inline-block;
}
.buttonElement button {
  font-weight: 800;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 15px;
  color: #293250;
  background: rgb(246, 255, 169);
  border: 2px solid #293250af;
  border-radius: 7px;
  padding: 3px 7px;
}
.buttonElement button:active {
  border: 2px solid #293250;
  background: rgb(239, 255, 93);

  transition: 0.3s;
}
.buttonElement button:hover {
  box-sizing: border-box;
  text-decoration: underline;
  border: 2px solid #293250;
  -webkit-box-shadow: 0px 0px 10px 1px rgb(92, 92, 92);
  -moz-box-shadow: 0px 0px 10px px rgb(92, 92, 92);
  box-shadow: 0px 0px 10px 1px rgb(92, 92, 92);

}

@media screen and (max-width: 479px) {
  body {
    overflow-x: hidden;
  }
  .buttonElement button:active {
    background: 0;
    border: 0;
    transition: 0;
  }
  .buttonElement button:hover {
    box-sizing: 0;
    background: 0;
    text-decoration: 0;
  }
}
