.App {
	position: relative;
  text-align: center;
  width: 900px;
  background: rgb(246, 255, 169);
  margin: 0 auto;
  min-height: 500px;
	margin-top: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 40px 20px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 0px 40px 20px rgba(34, 60, 80, 0.2);
box-shadow: 0px 0px 40px 20px rgba(34, 60, 80, 0.2);
margin-bottom: 40px;

}
.mainTitle{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 5.5em;
	font-weight: bold;
	color:#29325062;
}
.hint{
	/* margin-top: 120px; */
	position:absolute;
width: 100%;	
bottom: 20px;;

	font-size:1em;
	font-weight: bold;
	color:#29325062;
}

 

