.App {
  text-align: center;
}
.mainTitle{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 5.5em;
	font-weight: bold;
	color:#29325062;
}
.hint{
	margin-top: 45px;
	font-size:1em;
	font-weight: bold;
	color:#29325062;
}

 

